<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	 <!-- Begin Name:wuqiwei Data:2013-05-07 01:21:29 
	   proxy-target-class="false" 表示该代理的对象是实现了接口的
	   proxy-target-class="true" 表示该代理的对象是没有实现接口
	-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	 <!-- Begin Name:wuqiwei Data:2013-05-07 01:21:29 
	   proxy-target-class="false" 表示该代理的对象是实现了接口的
	   proxy-target-class="true" 表示该代理的对象是没有实现接口
	-->
	
	<!-- Begin Name:wuqiwei Date:2013-07-25 AddReason:根据包是否注解了
		@Component @Service @Controller 来扫描创建对象-->
	<context:component-scan base-package="com.etech" >
	  <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- Begin Name:wuqiwei Date:2013-07-25 AddReason:根据包是否注解了
		@Component @Service @Controller 来扫描创建对象-->
	<import resource="applicationContext-datasource.xml"/>
	<import resource="applicationContext-common.xml"/>
	<import resource="applicationContext-cached.xml"/>
	
</beans>