<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Begin: Name:wuhuanrong Date:2013-08-11 AddReason:不加这个配置spring mvc无效 -->
	<context:component-scan base-package="com.etech" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- End: Name:wuhuanrong Date:2013-08-11 AddReason:不加这个配置spring mvc无效 -->
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" 
	      depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>
	
	<!-- freemarker 的视图解析器 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<!-- 定义跳转的文件的前后缀 -->
	<!-- Begin Name:wuhuanrong Date:2013-08-11 AddReason:添加freemarker的支持 -->
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- 这里配置了freemarker从哪个路径开始寻找ftl模板文件 -->
		<property name="templateLoaderPaths" value="/WEB-INF/template,classpath:/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<!-- freemarker 对 ftl模板 更新数据的时间 -->
				<prop key="template_update_delay">0</prop>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="number_format">0.######</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="object_wrapper">freemarker.ext.beans.BeansWrapper</prop>
				<prop key="default_encoding">UTF-8</prop>
			</props>
		</property>
		<!-- 配置freemarker 的键值对的信息 -->
		<!-- 这里配置了freemarker的自定义指令。 -->
		<property name="freemarkerVariables">
			<map>
				<entry key="pagination" value-ref="directivePagination" />
			</map>
		</property>
	</bean>
	<!-- Begin Name:wuhuanrong Date:2013-08-11 AddReason:添加freemarker的支持 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="contentType" value="text/html; charset=UTF-8" />
		<property name="suffix" value=".ftl" />
	</bean>
	
	<!-- jsp视图解析器 -->
	<!-- Begin Name:wuqiwei Date:2013-08-13 AddReason:添加jsp视图解析器 -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    <!-- End Name:wuqiwei Date:2013-08-13 AddReason:添加jsp视图解析器 -->    
    
    <!-- Begin name:wuhunrong Date:2014-06-05 spring 的文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
	</bean>    
	 <!-- End Name:wuhuanrong Date:2013-08-13 spring  文件上传 -->  
</beans>  