<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.10:3306/jobs?useUnicode=true&amp;characterEncoding=UTF-8</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="hibernate.connection.password">root</property> 
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<!--统计Hibernate中的相关信息包括二级缓存命中率 -->
		<property name="hibernate.generate_statistics">true</property>
		
		
		<!-- Begin Name:wuqiwei Date:2013-2013-9-26 AddReason:缓存配置 -->
	    <!--开启二级缓存-->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!--Begin 设置缓存类 memcached 没有兼容hibernate4x 故而弃用改用encached  -->
		<!-- <property name="hibernate.cache.region.factory_class">com.googlecode.hibernate.memcached.MemcachedCacheProvider</property> -->
		<!-- 设置memcache缓存服务器端口   -->
		<!-- <property name="hibernate.memcached.servers">localhost:11211</property> -->
		<!-- memcached是分布是的缓存系统,可以配置多个memcached -->
		<!-- <property name="hibernate.memcached.servers">localhost:11211</property> -->
		<!-- 设置二级缓存的前缀名称   -->
		<property name="hibernate.cache.region_prefix">believeus.cn.ehcache</property>
		<!--End 设置缓存类 memcached 没有兼容hibernate4x 故而弃用改用encached  -->
		 <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<!--Begin Name:wuqiwei Date:2014-04-06 ConfigNote: Hibernate4.x只对对象查询有效,对sql和hql语句的查询无效  -->
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
		<!--End Name:wuqiwei Date:2014-04-06 ConfigNote: 只对对象查询有效,对sql和hql语句的查询无效  -->
		<!--指定encached配置文件的路径-->
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		<!-- 否使用结构化的方式缓存对象 --> 
		<property name="hibernate.cache.use_structured_entries">true</property>
		<!-- 是否将HQL查询到的结果放入memcached之中   -->
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- End Name:wuqiwei Date:2013-2013-9-26 AddReason:缓存配置 -->
		
		<!-- 当前线程session不关闭 -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Begin Name:wuqiwei Date:2013-09-25 AddReason:配置hibernate search -->
		<!-- 将索引保存在硬盘中 -->
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<!--索引存放目录 -->
		<property name="hibernate.search.default.indexBase">/data/believeusIndex</property>
		<!-- 使用的分词器 -->
		<property name="hibernate.search.analyzer">org.wltea.analyzer.lucene.IKAnalyzer</property>
		<!--激活Hibernate Search -->
		<property name="hibernate.search.autoregister_listeners">true</property>
		<!-- hibernate search自动创建索引 -->
		<property name="hibernate.search.indexing_strategy">event</property>
		<property name="hibernate.ejb.event.post-insert">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-update">org.hibernate.search.event.FullTextIndexEventListener</property>  
		<property name="hibernate.ejb.event.post-delete">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-collection-update">org.hibernate.search.event.FullTextIndexEventListener</property>  
		<property name="hibernate.ejb.event.post-collection-remove">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.post-collection-recreate">org.hibernate.search.event.FullTextIndexEventListener</property> 
		<property name="hibernate.ejb.event.flush">org.hibernate.search.event.FullTextIndexEventListener</property>
		<!--Begin Name:wuqiwei Date:2013-09-30 HibernateSearch 自动优化 -->
		<!--添加删除操作数超过500 优化索引-->
		<property name="hibernate.search.default.optimizer.operation_limit.max">500</property>
		<!--添加删除操作数超过100 优化索引  -->
		<property name="hibernate.search.default.optimizer.transaction_limit.max">100</property>
		<!-- 对特定的类索引优化 <property name="hibernate.search.索引类名.optimizer.transaction_limit.max">100</property>  -->
		<!-- 当超过10个索引时自动合并 -->
		<property name="hibernate.search.default.indexwriter.max_merge_docs">50</property>
		<!-- End Name:wuqiwei Date:2013-09-25 AddReason:配置hibernate search -->
		<mapping class="com.etech.entity.Trecruit"/>
		<mapping class="com.etech.entity.TcomInfo"/>
		<mapping class="com.etech.entity.TmajorType"/>
		<mapping class="com.etech.entity.TcomInfoType"/>
		<mapping class="com.etech.entity.TbaseUser"/>
		<mapping class="com.etech.entity.TcomUser" />
		<mapping class="com.etech.entity.TentUser"/>
		<mapping class="com.etech.entity.Trole"/>
		<mapping class="com.etech.entity.Tauthority"/>
		<mapping class="com.etech.entity.TentImgVedio"/>
		
	</session-factory>

</hibernate-configuration>