body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('/resource/WorkInstructions/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:0px;
    width:1347px;
    height:174px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1347px;
    height:174px;
}

.u1 {
    position:absolute;
    left:2px;
    top:79px;
    width:1343px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('/resource/WorkInstructions/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:424px;
    top:219px;
    width:751px;
    height:822px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:751px;
    height:822px;
}

.u3 {
    position:absolute;
    left:2px;
    top:403px;
    width:747px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('/resource/WorkInstructions/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:437px;
    top:392px;
    width:711px;
    height:1px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-8px;
    width:707px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('/resource/WorkInstructions/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:437px;
    top:721px;
    width:711px;
    height:1px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-8px;
    width:707px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:704px;
    top:240px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:459px;
    top:299px;
    width:695px;
    height:720px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('/resource/WorkInstructions/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:433px;
    top:563px;
    width:711px;
    height:1px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:711px;
    height:1px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-8px;
    width:707px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('/resource/WorkInstructions/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:174px;
    top:328px;
    width:241px;
    height:390px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:390px;
}

.u13 {
    position:absolute;
    left:2px;
    top:187px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('/resource/WorkInstructions/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:196px;
    top:371px;
    width:189px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:189px;
    height:57px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:185px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('/resource/WorkInstructions/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:198px;
    top:433px;
    width:186px;
    height:59px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:59px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('/resource/WorkInstructions/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:194px;
    top:497px;
    width:194px;
    height:213px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:194px;
    height:213px;
}

.u19 {
    position:absolute;
    left:2px;
    top:98px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('/resource/WorkInstructions/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:174px;
    top:328px;
    width:241px;
    height:33px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:33px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('/resource/WorkInstructions/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:175px;
    top:178px;
    width:241px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:41px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('/resource/WorkInstructions/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:175px;
    top:213px;
    width:241px;
    height:35px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:41px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('/resource/WorkInstructions/u22_normal.png');
}

.u26_container {
    position:absolute;
    left:175px;
    top:248px;
    width:241px;
    height:35px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:41px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('/resource/WorkInstructions/u22_normal.png');
}

.u28_container {
    position:absolute;
    left:175px;
    top:283px;
    width:241px;
    height:35px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:41px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('/resource/WorkInstructions/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:174px;
    top:1051px;
    width:1051px;
    height:2px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1051px;
    height:2px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-7px;
    width:1047px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:609px;
    top:1073px;
    width:181px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:186px;
    top:132px;
    width:55px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u34 {
    position:absolute;
    left:251px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u35 {
    position:absolute;
    left:351px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u36 {
    position:absolute;
    left:445px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u37 {
    position:absolute;
    left:547px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u38 {
    position:absolute;
    left:641px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u39 {
    position:absolute;
    left:748px;
    top:132px;
    width:84px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

#u40 {
    position:absolute;
    left:1122px;
    top:132px;
    width:53px;
    height:34px;
    ;
    ;
    ;
    background-image: url('/resource/public/resources/images/transparent.gif');
    overflow:hidden;
}

.u41_normal {
    background-image: url('/resource/WorkInstructions/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:426px;
    top:178px;
    width:749px;
    height:31px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:755px;
    height:37px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:745px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

